# Backend
backend/.env
backend/bin/
backend/*.exe

# Frontend
frontend/.env.local
frontend/node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/settings.json
.idea/
*.swp

